@import "../../styles/variables.module.scss";
@import "../../styles/mixin.module.scss";

.container {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  border-radius: 2rem;

  @include l {
    padding: 3rem;
  }

  & label {
    margin-top: 1rem;
    font-family: $fontMedium;
    font-size: 1.4rem;

    @include l {
      margin-top: 2rem;
      font-size: 1.8rem;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  & input,
  textarea {
    font-size: 1.2rem;
    font-family: $fontRegular;
    width: 100%;
    color: $black;
    padding: 0.5rem 1rem;

    border: 0;
    outline: 0;
    border-radius: 0.5rem;

    resize: none;

    @include l {
      font-size: 1.4rem;
    }

    &:focus {
      outline: none;
    }
  }
}

.tnc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  word-wrap: break-word;

  width: 100%;

  & label {
    margin-top: 1rem;
    font-family: $fontLight;
    font-size: 1.2rem;
    width: 90%;
    text-align: left;

    @include l {
      margin-top: 2rem;
      font-size: 1.4rem;
    }
  }

  & input {
    width: 10%;
  }
}

.submit {
  margin: 1rem 0;

  position: relative;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @include l {
    margin: 2rem 0;
  }
}
